* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background: url(../images/about.png) center/cover;
    position: relative;
    overflow: hidden;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 100%;
    position: absolute;
    height: 60%;
    top: 60%;
    transform: translateY(-30%);
    color: #000;
    display: flex;
}

.left,
.right {
    height: 100%;
    width: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0));
}

.left h1,
.right h1 {
    font-size: 50px;
}

.left h2,
.right h2 {
    font-size: 30px;
    position: relative;
    top: -10px;
}

.left h1,
.left h2,
.left p {
    margin-left: 5%;
}

.right h1,
.right h2 {
    margin-left: 55%;
}

.right p {
    margin-left: 30%;
    font-size: 21px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.left p {
    font-size: 21px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    color: #fff;
}

#discord,#website,#github {
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
    opacity: 0.3;
    vertical-align: middle;
}

#discord {
    height: 30px;
}

#website {
    height: 35px;
    border-radius: 50%;
}

#github {
    height: 35px;
    border-radius: 50%;
}

@media all and (max-width:768px) {
    .navbar {
        width: 100%;
        padding: 10px 0;
        justify-content: center;
    }

    .navbar ul li a {
        font-size: 14px;

    }

    .content {
        flex-direction: column;
        top: 55%;
        transform: translateY(-50%);
        height: auto;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .left h1,
    .right h1 {
        font-size: 40px;
    }

    .left h2,
    .right h2 {
        font-size: 24px;
        top: 0;
    }

    .left h1,
    .left h2 {
        margin-left: 10px;
    }

    .right h1,
    .right h2 {
        margin-left: 10px;
    }

    .right p,
    .left p {
        margin-left: 5px;
        font-size: 18px;
    }

    #discord,#website,#github {
        margin-left: 10px;
        margin-top: 5px;
        width: 30px;
    }

    #discord {
        height: 20px;
    }

    #website,#github {
        height: 25px;
    }
}