* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    background: url('../images/kalam.jpg') center/cover;
    transition: all 1.3s ease-in-out;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: flex 1.3s ease, background-color 1.3s ease;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.left:hover, .right:hover {
    flex: 3;
    background-color: rgba(210, 210, 210, 0.6);
    backdrop-filter: blur(3px);
    align-items: center;
}

.left:hover ~ .middle, .left:hover ~ .right,
.right:hover ~ .left, .right:hover ~ .middle {
    flex: 1;
}

h1, p {
    margin: 0;
    transition: margin 1.3s ease;
}

h1 {
    font-size: 40px;
    color: #2f2f2f;
}

p {
    font-size: 20px;
    font-weight: 500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 20px 0 50px;
}

.left h1, .left p {
    margin-left: 20px;
}

.right h1, .right p {
    margin-right: 20px;
}

.left:hover h1, .right:hover h1,
.left:hover p, .right:hover p {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
 
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        flex: 1;
    }

    .left, .right {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }
}