/* General styles */
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(72, 138, 143, 0.75)), url(kalam.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%; /* Change to 100% to occupy the full width */
    padding: 20px 0; /* Reduce padding for mobile */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 25%; /* Adjusted from 40% to 25% */
    transform: translateY(-50%);
    text-align: left;
    color: white;
}

h1{
    font-size: 60px;
    margin-left: 20px; /* Reduced left margin */
    margin-top: 20px; /* Added top margin */
}

.poems{
    margin: 30px 500px;
    color: white;
    background-color: red;
}

.poem{
    margin: 15px 100px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Keep row direction */
        justify-content: flex-start; /* Align to the left */
    }

    .navbar ul li {
        margin: 0 10px; /* Reduce margin */
    }

    .content {
        top: 20%; /* Adjust top position */
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        margin-left: 0; /* No left margin */
        margin-top: 10px; /* Adjust top margin */
    }

    .poems {
        margin: 30px auto;
        width: 90%;
    }

    .poem {
        margin: 15px 0;
    }
}
